<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<ul  th:each="Album:${allAlbum}">

    <p>id</p><span th:text="${allAlbum.id}"></span>
    <p>title</p><span th:text="${allAlbum.title}"></span>

    <p>artist</p><span th:text="${allAlbum.artist}"></span>

    <p>songCount</p><span th:text="${allAlbum.songCount}"></span>
    <p>length</p><span th:text="${allAlbum.length}"></span>
    <p>imageUrl</p><span th:text="${allAlbum.imageUrl}"></span>
    <p>songModels</p><span th:text="${allAlbum.songModels}"></span>
</ul>
</body>
</html>