<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>allSong</title>
</head>
<body>


<form action="/songs" method="post">
    <p>title</p><input type="text"name="title"/>
    <p>length</p><input type="text"name="length"/>
    <p>trackNumber</p><input type="text"name="trackNumber"/>

    <button type="submit">submit</button>
</form>

<ul th:each="song : ${allSong}">
    <p>id</p><span th:text="${song.id}"></span>
    <p>length</p><span th:text="${song.length}"></span>
    <p>title</p><span th:text="${song.title}"></span>
    <p>trackNumber</p><span th:text="${song.trackNumber}"></span>
    <p> album_model_id</p><span th:text="${song.albumModel}"></span>

    <p>**********************************************************</p>
</ul>

</body>
</html>